<template>
    <v-navigation-drawer
        v-model="drawer"
        :color="color"
        :expand-on-hover="expandOnHover"
        :mini-variant="miniVariant"
        :right="right"
        :permanent="permanent"
        dark
        app
    >
        <v-list
        dense
        nav
        class="py-0"
        >
            <v-list-item two-line :class="miniVariant && 'px-0'">
                <v-list-item-content>
                <v-list-item-title>Склад</v-list-item-title>
                <v-list-item-subtitle>Rss</v-list-item-subtitle>
                </v-list-item-content>
            </v-list-item>

            <v-divider></v-divider>

            <v-list-item
                v-for="item in links"
                :key="item.link"
                link
                :to="item.link"
            >
                <v-list-item-content>
                <v-list-item-title>{{ item.title }}</v-list-item-title>
                </v-list-item-content>
            </v-list-item>
        
            <v-divider></v-divider>

            <v-list-item
                v-for="item in dialogs"
                :key="item.title"
                @click="item.action()"
            >
                <v-list-item-content>
                <v-list-item-title>{{ item.title }}</v-list-item-title>
                </v-list-item-content>
            </v-list-item>
        
        </v-list>
    </v-navigation-drawer>
</template>

<script>
    export default {
        props: ['links', 'dialogs'],
        data () {
            return {
                drawer: true,
                color: 'primary',
                colors: [
                    'primary',
                    'blue',
                    'success',
                    'red',
                    'teal',
                ],
                right: false,
                permanent: true,
                miniVariant: false,
                expandOnHover: false,
                background: false,
            };
        },
    }
</script>