<template>
  <v-form
    ref="form"
    v-model="valid"
  >
    <h1>Создание товара</h1>
    <v-text-field
        v-model="title"
        label="Название"
        placeholder="Название"
        :rules="titleRules"
        outlined
    ></v-text-field>

    <v-text-field
        v-model="price"
        label="Цена"
        placeholder="Цена"
        :rules="priceRules"
        outlined
    ></v-text-field>

    <v-btn
      :disabled="!valid"
      color="success"
      class="mr-4"
      @click="createProduct"
    >
      Добавить товар
    </v-btn>
    <v-snackbar
        v-model="requestErr"
        :top="this.true"
        :color="snackErrColor"
    >
        {{ errMsg }}
    </v-snackbar>
    <v-snackbar
        v-model="requestOK"
        :top="this.true"
    >
        Продукт создан
    </v-snackbar>
  </v-form>
</template>

<script>
    export default {
        methods: {
            async createProduct() {
                // let productsRes = await this.axios.get('/api/products?page=0&status=Received');
                let res = await this.axios.post('/api/products', {
                    'name': this.title,
                    'price': parseFloat(this.price),
                });
                if (res.status != 201) {
                    this.toggleError('Произошла Ошибка');
                } else {
                    this.toggleOK();
                }
            },
            toggleOK() {
                this.requestOK = true;
            },
            toggleError(msg) {
                this.requestErr = true;
                this.errMsg = msg;
            },
        },
        data() {
            return {
                price: '',
                title: '',
                errMsg: '',
                true: true,
                snackErrColor: 'red',
                requestErr: false,
                requestOK: false,
                titleRules: [
                    title => {
                        return typeof title == 'string' && title.length > 0;
                    },
                ],
                priceRules: [
                    price => {
                        return typeof price == 'string' && price.length > 0 && parseFloat(price) >= 0;
                    },
                ],
                valid: false,
            };
        },
    };
</script>

<style scoped>

</style>