<template>
  <v-form
    ref="form"
    v-model="valid"
  >
    <h1>Форма отчёта</h1>
    <v-checkbox
      v-model="allChecks"
      label="Все"
      @click="allClicked()"
    ></v-checkbox>

    <v-checkbox
      v-model="recieved"
      label="Принятые"
      @click="check()"
    ></v-checkbox>

    <v-checkbox
      v-model="onStock"
      label="На Складе"
      @click="check()"
    ></v-checkbox>

    <v-checkbox
      v-model="sold"
      label="Проданные"
      @click="check()"
    ></v-checkbox>

    <v-datetime-picker label="От" v-model="from"/>
    <v-datetime-picker label="До" v-model="until"/>

    <v-btn
      :disabled="!isValid()"
      color="success"
      class="mr-4"
      @click="sendRequest"
    >
      Запросить Отчет
    </v-btn>

    <v-snackbar
        v-model="requestErr"
        :top="this.true"
        :color="snackErrColor"
    >
        {{ errMsg }}
    </v-snackbar>
  </v-form>
</template>

<script>
    export default {
        methods: {
          toggleError(msg) {
            this.requestErr = true;
            this.errMsg = msg;
          },
          async sendRequest() {
            let from = Math.floor(this.from / 1000);
            let until = Math.floor(this.until / 1000);
            let statuses = [];
            if (this.recieved) {
              statuses.push('Received');
            }
            if (this.sold) {
              statuses.push('Sold');
            }
            if (this.onStock) {
              statuses.push('OnStock');
            }

            let report;
            try {
              report = await this.axios.get(`/api/products/report?start=${from}&end=${until}&statuses=${statuses.join("|")}`);
            } catch (err) {
              console.log('err', err);
              this.toggleError('Произошла ошибка');
              return;
            }

            if (report.data.products.length == 0) {
              this.toggleError('Не найдено товаров, удовлетворяющих запросу');
              return;
            }

            console.log(report);
            this.$store.commit('setReport', report.data);
            this.$router.push('/report');
          },
          allClicked() {
            if (this.allChecks) {
                this.setSecondaries(true);
            } else if (this.isAllSecondaries()) {
                this.setSecondaries(false);
            }
            this.isValid();
          },
          isAllSecondaries() {
            return this.recieved && this.sold && this.recieved;
          },
          setSecondaries(val) {
            this.recieved = val;
            this.onStock = val;
            this.sold = val;
          },
          check() {
            this.allChecks = this.isAllSecondaries();
            this.isValid();
          },
          isAnySecondary() {
            return this.recieved || this.sold || this.onStock;
          },
          isValid() {
            this.valid = this.isAnySecondary() && this.from != null && this.until != null;
            return this.valid;
          },
        },
        data() {
            return {
                errMsg: '',
                true: true,
                snackErrColor: 'red',
                requestErr: false,
                from: null,
                until: null,
                valid: false,
                allChecks: false,
                recieved: false,
                onStock: false,
                sold: false,
            };
        },
    };
</script>

<style scoped>

</style>