<template>
    <div>
        <h1>Принятые товары</h1>
        <v-data-table
            :headers="headers"
            :items="products"
            :items-per-page="5"
            show-select
            class="elevation-1"
            v-model="selected"
        />
        <v-btn
            :disabled="selected.length == 0"
            color="success"
            class="mr-4"
            @click="toStock"
            >
            Перевести товар на склад
        </v-btn>
        <v-snackbar
            v-model="requestErr"
            :top="this.true"
            :color="snackErrColor"
        >
            {{ errMsg }}
        </v-snackbar>
        <v-snackbar
            v-model="requestOK"
            :top="this.true"
        >
            Продукт(ы) переведен(ы) на склад
        </v-snackbar>
    </div>
</template>

<script>
    export default {
        methods: {
            itemToStock(item) {
                return this.axios.put(`/api/products/${item.id}/status`, {
                    'name': 'OnStock'
                });
            },
            async toStock() {
                let requests = [];
                for(let item of this.selected) {
                    requests.push(this.itemToStock(item));
                }
                let promise = Promise
                    .all(requests)
                    .then(async (results) => {
                        this.requestOK = true;
                        await this.load();
                    })
                    .catch(err => {
                        console.log('er', err);
                        this.toggleError('Произошла Ошибка');
                    });
            },
            async load() {
                let productsRes = await this.axios.get('/api/products?page=0&status=Received');
                if (productsRes.status < 200 || productsRes.status >= 300) {
                    this.toggleError('Произошла Ошибка');
                    return;
                }

                this.products = productsRes.data;
            },
            toggleError(msg) {
                this.requestErr = true;
                this.errMsg = msg;
            },
        },
        async created() {
            await this.load();
        },
        data() {
            return {
                selected: [],
                errMsg: '',
                true: true,
                snackErrColor: 'red',
                requestOK: false,
                requestErr: false,
                products: [],
                headers: [
                    {
                        text: 'Название',
                        align: 'start',
                        value: 'name',
                    },
                    {
                        text: 'Цена',
                        value: 'price',
                    },
                    // {
                    //     text: 'Статус'
                    // },
                ],
            };
        },
    };
</script>

<style>

</style>