<template>
    <div>
        <h1>Отчет</h1>
        <v-data-table
            :headers="headers"
            :items="products"
            :items-per-page="5"
            group-by="statusName"
            class="elevation-1"
            groupable 
        />
        <h3 v-if="sold.length > 0">Суммарная стоимость проданных товаров: {{ soldSum }}</h3>
    </div>
</template>

<script>
export default {
    created() {
        let products = this.$store.state.report;
        for(let product of products) {
            product.statusName = product.status.name;
        }
        this.products = products;
    },
    computed: {
        sold() {
            return this.products.filter(v => v.status.name == 'Sold');
        },
        soldSum() {
            return this.sold.reduce((a, b) => (a.price) ? a.price : a + b.price, 0);
        },
    },
    data() {
        return {
            products: [],
            headers: [
                    {
                        text: 'Название',
                        align: 'start',
                        value: 'name',
                    },
                    {
                        text: 'Цена',
                        value: 'price',
                    },
                ],
        };
    },
}
</script>