<template>
    <div>
      <h1>Проданные товары</h1>
      <v-data-table
          :headers="headers"
          :items="products"
          :items-per-page="5"
          show-select
          class="elevation-1"
          v-model="selected"
      />
      <v-snackbar
          v-model="requestErr"
          :top="this.true"
          :color="snackErrColor"
      >
          {{ errMsg }}
      </v-snackbar>
      <h3>Суммарная стоимость: {{ products.reduce((a, b) => (a.price) ? a.price : a + b.price, 0) }}</h3>
    </div>
</template>

<script>
    export default {
        methods: {
          async load() {
            let productsRes = await this.axios.get('/api/products?page=0&status=Sold');
            if (productsRes.status < 200 || productsRes.status >= 300) {
                toggleError('Произошла Ошибка');
                return;
            }

            this.products = productsRes.data;
          },
          toggleError(msg) {
            this.requestErr = true;
            this.errMsg = msg;
          },
        },
        async created() {
            await this.load();
        },
        data() {
            return {
                selected: [],
                errMsg: '',
                true: true,
                snackErrColor: 'red',
                requestErr: false,
                products: [],
                headers: [
                    {
                        text: 'Название',
                        align: 'start',
                        value: 'name',
                    },
                    {
                        text: 'Цена',
                        value: 'price',
                    },
                    // {
                    //     text: 'Статус'
                    // },
                ],
            };
        },
    };
</script>

<style>

</style>