<template>
    <v-app id="inspire">
        <nav-bar :links="links" />
        <v-main>
            <v-container>
                <router-view id="rv"/>
            </v-container>
        </v-main>
    </v-app>
</template>

<script>
    import NavBar from '@/components/Nav'

    export default {
        name: 'App',
        components: {
            NavBar,
        },
        data() {
            return {
                links: [
                    { title: 'Принятые', link: '/received'},
                    { title: 'Проданные', link: '/sold'},
                    { title: 'На Складе', link: '/onstock'},
                    { title: 'Новый товар', link: '/product/new', },
                    { title: 'Отчёт', link: '/report/new', },
                ],
            };
        },
    };
</script>

<style scoped>
#rv {
    margin: 2vw;
}
</style>